extends templates/master.pug

block head-scripts
    script(type='text/javascript' src='js/lib/Chart.min.js')
    script(type='text/javascript' src='js/lib/fuse.min.js')

block content
    #island-wrapper
        canvas#graph
        #search-container
            h2#search-instruct
                | Start
                |
                strong searching
                |
                | career options
            #search-form
                form#search
                    input(type='text' name='search' id='search-input' placeholder='Type keywords here')
                    #form-more.hidden
                        .form-row
                            .input-container
                                .input-wrapper
                                    p Yearly Median Pay (2016)
                                    input(type='range' name='median-pay-min'
                                        class='median-pay')
                                    input(type='range' name='median-pay-max'
                                        class='median-pay superimposed')
                                    .tooltip.hidden
                            .input-container
                                .input-wrapper
                                    p Total Jobs (2016)
                                    input(type='range' name='total-jobs-min'
                                        class='total-jobs')
                                    input(type='range' name='total-jobs-max'
                                        class='total-jobs superimposed')
                                    .tooltip.hidden
                            .input-container
                                .input-wrapper
                                    p Job Growth (2016)
                                    input(type='range' name='job-growth-min'
                                        class='job-growth')
                                    input(type='range' name='job-growth-max'
                                        class='job-growth superimposed')
                                    .tooltip.hidden
        script(type='text/javascript' src='js/main.js')
